<mat-card
    class="
        flex flex-row
        w-full
        justify-between
        items-center
        rounded-2xl
        text-sm
        shadow
        bg-gray-50
    "
    style="height: 90%; margin: 2rem"
>
    <mat-drawer-container
        class="flex-auto sm:h-full h-full bg-white rounded-2xl shadow-sm"
    >
        <mat-drawer-content class="h-full">
            <div class="flex flex-row flex-auto h-full p-6">
                {{ workflow | json }}
            </div>
        </mat-drawer-content>
        <mat-drawer
            class="sm:w-96 bg-teal-50 dark:bg-gray-900"
            style="width: 40vw !important"
            [autoFocus]="false"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #drawer
            position="end"
        >
            <div
                class="
                    flex flex-col
                    lg:flex-row
                    w-full
                    filter-pricing
                    max-w-full
                    gap-2
                    h-full
                "
                style="padding: 0.5rem"
            >
                <div class="w-full flex justify-end">
                    <button mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>remove</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>fullscreen</mat-icon> Plein écran
                    </button>
                </div>

                <div class="w-full flex flex-col justify-center items-center">
                    <!-- <svg viewbox="0 0 100 100">
                        <circle cx="50" cy="50" r="50" />
                    </svg>
                    <svg viewbox="0 0 10 100">
                        <line x1="5" x2="5" y1="0" y2="100" />
                    </svg>
                     -->

                    <div
                        class="
                            bg-teal-500
                            text-white
                            rounded-full
                            flex
                            justify-center
                            items-center
                        "
                        style="height: 5rem; width: 5rem"
                    >
                        Démarrer
                    </div>
                    <div
                        *ngIf="showForm || workflow?.firstFlow"
                        class="w-1/2 mt-2"
                    >
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Sélectionner une formulaire</mat-label>
                            <mat-select
                                (selectionChange)="
                                    updateWorkFlow($event, 'firstFlow')
                                "
                            >
                                <mat-option
                                    *ngFor="let fm of forms"
                                    [value]="fm"
                                >
                                    {{ fm }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex border shadow p-1 rounded-2xl mt-2">
                        <button mat-icon-button (click)="chooseForm()">
                            <mat-icon>crop_square</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>trip_origin</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-drawer>
    </mat-drawer-container>
</mat-card>
